{% extends 'IlcfrancePassportstagiaireResBundle::admin.tpl.html.twig' %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_homepage') }}">{{ faIco('dashboard') }} {{'breadcrumb.admin.dasboard'|trans|raw}}</a></li>
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_homework_list') }}">{{faIco('file')}} {{'Homework.breadcrumb.admin.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_passportstagiaire_front_homework_editGet', {'id': homework.id}) }}">{{faIco('edit')}} {{'Homework.breadcrumb.admin.edit'|trans({'%homework%': homework.originalName})|raw}}</a></li>
</ol>
{% endblock breadcrumb %}
{% block main %}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_passportstagiaire_front_homework_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
			<a href="{{ path('ilcfrance_passportstagiaire_front_homework_addGet') }}" class="btn btn-primary">{{ faIco('plus') }} {{ 'action.add'|trans }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'Homework.tab.admin.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'Homework.tab.admin.edit'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'Homework.tlabel.admin.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
                                <div class="col-lg-3 text-right">{{'Homework.level'|trans|raw}} :</div>
                                <div class="col-lg-9">{{homework.level.name}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Homework.originalName'|trans|raw}} :</div>
								<div class="col-lg-9">{{homework.originalName}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Homework.description'|trans|raw}} :</div>
								<div class="col-lg-9">{%if homework.description is not empty%}{{homework.description}}{%else%}{{bsLabelWarning('_NA'|trans)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Homework.size'|trans|raw}} :</div>
								<div class="col-lg-9">{%if homework.size<1024%}
									{{homework.size}} o
								{%elseif homework.size<(1024*1024)%}
									{{'%.2f'|format(homework.size/1024)}} Ko
								{%elseif homework.size<(1024*1024*1024)%}
									{{'%.2f'|format(homework.size/1024/1024)}} Mo
								{%else%}
									{{'%.2f'|format(homework.size/1024/1024/1024)}} Go
								{% endif %}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Homework.mimeType'|trans|raw}} :</div>
								<div class="col-lg-9">{{homework.mimeType}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Homework.md5'|trans|raw}} :</div>
								<div class="col-lg-9">{{homework.md5}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Homework.nbrDownloads'|trans|raw}} :</div>
								<div class="col-lg-9">{{homework.nbrDownloads}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Homework.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{homework.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{homework.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Homework.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{homework.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{homework.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'Homework.tlabel.admin.editLevel'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(HomeworkUpdateLevelForm, {'method':'POST', 'action': path('ilcfrance_passportstagiaire_front_homework_editPost', {'id': homework.id}), 'style': 'horizontal'})}}
                            {{form_row(HomeworkUpdateLevelForm.level, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'select2', 'style': 'width:100%', 'placeholder': 'Homework.level.placeholder' } })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(HomeworkUpdateLevelForm)}}
                        </div>
                    </div>
                    <div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Homework.tlabel.admin.editOriginalName'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(HomeworkUpdateOriginalNameForm, {'method':'POST', 'action': path('ilcfrance_passportstagiaire_front_homework_editPost', {'id': homework.id}), 'style': 'horizontal'})}}
							{{form_row(HomeworkUpdateOriginalNameForm.originalName, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(HomeworkUpdateOriginalNameForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Homework.tlabel.admin.editDescription'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(HomeworkUpdateDescriptionForm, {'method':'POST', 'action': path('ilcfrance_passportstagiaire_front_homework_editPost', {'id': homework.id}), 'style': 'horizontal'})}}
							{{form_row(HomeworkUpdateDescriptionForm.description, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(HomeworkUpdateDescriptionForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'Homework.tlabel.admin.editContent'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(HomeworkUpdateContentForm, {'method':'POST', 'action': path('ilcfrance_passportstagiaire_front_homework_editPost', {'id': homework.id}), 'style': 'horizontal'})}}
							{{form_row(HomeworkUpdateContentForm.file, {'label_col': 3, 'widget_col': 8}) }}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(HomeworkUpdateContentForm)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main %}
{% block htmlBodyScripts %}
{{ parent() }}
<script type="text/javascript">
$(function() {
	tinymce.init({
		selector: 'textarea.wysiwyg',
		branding: false,
		theme: "modern",
		content_css : '{{ asset('/res/css/app.min.css') }}',
		plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
		toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview ",
		setup: function (editor) {
			editor.on('init', function (e) {
				editor.save();
			});
		},
		init_instance_callback: function (editor) {
			editor.on('Change', function (e) {
				editor.save();
			});
		}
	});

	$("#HomeworkUpdateContentForm_file").fileinput({'showUpload':false, 'previewFileType':'image', browseClass: "btn btn-success", browseLabel: " {{ 'action.btnSelect'|trans}}", browseIcon: '{{faIco('file')}}', removeClass: "btn btn-danger", removeLabel: " {{ 'action.btnCancel'|trans}}", removeIcon: '{{faIco('trash')}}'});
});
</script>
{% endblock htmlBodyScripts %}
