{% extends 'IlcfrancePassportstagiaireResBundle::admin.tpl.html.twig' %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_homepage') }}">{{ faIco('dashboard') }} {{'breadcrumb.admin.dasboard'|trans|raw}}</a></li>
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_trainee_list') }}">{{faIco('user-circle')}} {{'Trainee.breadcrumb.admin.list'|trans|raw}}</a></li>
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_trainee_editGet', {'id': traineeRecordDocument.traineeRecord.trainee.id}) }}">{{faIco('edit')}} {{'Trainee.breadcrumb.admin.edit'|trans({'%trainee%': traineeRecordDocument.traineeRecord.trainee.fullName})|raw}}</a></li>
	{% if null !=  traineeRecord.historical %}
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_trainee_historical_editGet', {'id': traineeRecordDocument.traineeRecord.historical.id}) }}">{{faIco('edit')}} {{'TraineeHistorical.breadcrumb.admin.edit'|trans({'%traineeHistorical%': traineeRecordDocument.traineeRecord.historical.smallName })|raw}}</a></li>
	{% endif %}
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_trainee_record_editGet', {'id': traineeRecordDocument.traineeRecord.id}) }}">{{faIco('edit')}} {{'TraineeRecord.breadcrumb.admin.edit'|trans({'%traineeRecord%': traineeRecordDocument.traineeRecord.smallName })|raw}}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_passportstagiaire_front_trainee_record_document_editGet', {'id': traineeRecordDocument.id}) }}">{{faIco('edit')}} {{'TraineeRecordDocument.breadcrumb.admin.edit'|trans({'%traineeRecordDocument%': traineeRecordDocument.originalName})|raw}}</a></li>
</ol>
{% endblock breadcrumb %}
{% block main %}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_passportstagiaire_front_trainee_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
			{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('ilcfrance_passportstagiaire_front_trainee_addGet') }}" class="btn btn-primary">{{ faIco('plus') }} {{ 'action.add'|trans }}</a>
			{% endif %}
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'TraineeRecordDocument.tab.admin.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'TraineeRecordDocument.tab.admin.edit'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{'TraineeRecordDocument.tlabel.admin.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'TraineeRecordDocument.originalName'|trans|raw}} :</div>
								<div class="col-lg-9">{{traineeRecordDocument.originalName}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'TraineeRecordDocument.description'|trans|raw}} :</div>
								<div class="col-lg-9">{%if traineeRecordDocument.description is not empty%}{{traineeRecordDocument.description|raw}}{%else%}{{bsLabelWarning('_NA'|trans)}}{%endif%}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'TraineeRecordDocument.size'|trans|raw}} :</div>
								<div class="col-lg-9">{%if traineeRecordDocument.size<1024%}
									{{traineeRecordDocument.size}} o
								{%elseif traineeRecordDocument.size<(1024*1024)%}
									{{'%.2f'|format(traineeRecordDocument.size/1024)}} Ko
								{%elseif traineeRecordDocument.size<(1024*1024*1024)%}
									{{'%.2f'|format(traineeRecordDocument.size/1024/1024)}} Mo
								{%else%}
									{{'%.2f'|format(traineeRecordDocument.size/1024/1024/1024)}} Go
								{% endif %}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'TraineeRecordDocument.mimeType'|trans|raw}} :</div>
								<div class="col-lg-9">{{traineeRecordDocument.mimeType}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'TraineeRecordDocument.md5'|trans|raw}} :</div>
								<div class="col-lg-9">{{traineeRecordDocument.md5}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'TraineeRecordDocument.nbrDownloads'|trans|raw}} :</div>
								<div class="col-lg-9">{{traineeRecordDocument.nbrDownloads}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'TraineeRecordDocument.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{traineeRecordDocument.dtCrea|localeDate('medium')}} {{'_at'|trans}} {{traineeRecordDocument.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'TraineeRecordDocument.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{traineeRecordDocument.dtUpdate|localeDate('medium')}} {{'_at'|trans}} {{traineeRecordDocument.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'TraineeRecordDocument.tlabel.admin.editOriginalName'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(TraineeRecordDocumentUpdateOriginalNameForm, {'method':'POST', 'action': path('ilcfrance_passportstagiaire_front_trainee_record_document_editPost', {'id': traineeRecordDocument.id}), 'style': 'horizontal'})}}
							{{form_row(TraineeRecordDocumentUpdateOriginalNameForm.originalName, {'label_col': 3, 'widget_col': 8 })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(TraineeRecordDocumentUpdateOriginalNameForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'TraineeRecordDocument.tlabel.admin.editDescription'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(TraineeRecordDocumentUpdateDescriptionForm, {'method':'POST', 'action': path('ilcfrance_passportstagiaire_front_trainee_record_document_editPost', {'id': traineeRecordDocument.id}), 'style': 'horizontal'})}}
							{{form_row(TraineeRecordDocumentUpdateDescriptionForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(TraineeRecordDocumentUpdateDescriptionForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title">{{'TraineeRecordDocument.tlabel.admin.editContent'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(TraineeRecordDocumentUpdateContentForm, {'method':'POST', 'action': path('ilcfrance_passportstagiaire_front_trainee_record_document_editPost', {'id': traineeRecordDocument.id}), 'style': 'horizontal'})}}
							{{form_row(TraineeRecordDocumentUpdateContentForm.file, {'label_col': 3, 'widget_col': 8}) }}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
							{{form_end(TraineeRecordDocumentUpdateContentForm)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main %}
{% block htmlBodyScripts %}
{{ parent() }}
<script type="text/javascript">
$(function() {
	$('textarea.wysiwyg').each(function() {
		var options = {
			theme: "modern",
			content_css : '{{ preload(asset('/res/css/app.min.css')) }}',
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			language : '{{ (app.request.locale~'_tinymce')|trans }}',
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});

		$("#TraineeRecordDocumentUpdateContentForm_file").fileinput({'showUpload':false, 'previewFileType':'image', browseClass: "btn btn-success", browseLabel: " {{ 'action.btnSelect'|trans}}", browseIcon: '{{faIco('file')}}', removeClass: "btn btn-danger", removeLabel: " {{ 'action.btnCancel'|trans}}", removeIcon: '{{faIco('trash')}}'});
});
</script>
{% endblock htmlBodyScripts %}
