{%if menu_active is not defined%}
{%set menu_active=''%}
{%endif%}
{%if smenu_active is not defined%}
{%set smenu_active=''%}
{%endif%}
{%if tabActive is not defined%}
{%set tabActive=1%}
{%endif%}
{%if admmenu_active is not defined%}
{%set admmenu_active=''%}
{%endif%}
{%if sadmmenu_active is not defined%}
{%set sadmmenu_active=''%}
{%endif%}
<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li class="header">
				{{ 'sidebar.admin.dashboard'|trans }}
			</li>
			<li {% if (admmenu_active =='home') %} class="active" {% endif %}>
				<a href="{{ path('ilcfrance_passportstagiaire_front_homepage') }}">
					<i class="fa fa-dashboard"></i>
					<span>{{ 'sidebar.admin.home'|trans }}</span>
				</a>
			</li>
			{% if is_granted('ROLE_SUPERADMIN') %}
			<li {% if (admmenu_active == 'locales' or admmenu_active == 'locales_list' or admmenu_active == 'locales_add' or admmenu_active == 'locales_edit') %} class="active" {% endif %}>
				<a href="#">
					<i class="fa fa-language text-danger"></i>
					<span>{{ 'Locale.sidebar.adminmenu'|trans }}</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>
					<ul class="treeview-menu">
						<li {% if (admmenu_active =='locales_list') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_locale_list') }}">
								<i class="fa fa-th"></i>
								{{ 'action.list'|trans }}
							</a>
						</li>
						<li {% if (admmenu_active =='locales_add') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_locale_addGet') }}">
								<i class="fa fa-plus"></i>
								{{ 'action.add'|trans }}
							</a>
						</li>
					</ul>
				</a>
			</li>
			{% endif %}
			{% if is_granted('ROLE_SUPERADMIN') %}
			<li {% if (admmenu_active == 'roles' or admmenu_active == 'roles_list' or admmenu_active == 'roles_add' or admmenu_active == 'roles_edit') %} class="active" {% endif %}>
				<a href="#">
					<i class="fa fa-flash text-danger"></i>
					<span>{{ 'Role.sidebar.adminmenu'|trans }}</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>
					<ul class="treeview-menu">
						<li {% if (admmenu_active =='roles_list') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_role_list') }}">
								<i class="fa fa-th"></i>
								{{ 'action.list'|trans }}
							</a>
						</li>
						<li {% if (admmenu_active =='roles_add') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_role_addGet') }}">
								<i class="fa fa-plus"></i>
								{{ 'action.add'|trans }}
							</a>
						</li>
					</ul>
				</a>
			</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
			<li {% if (admmenu_active == 'users' or admmenu_active == 'users_list' or admmenu_active == 'users_add' or admmenu_active == 'users_edit') %} class="active" {% endif %}>
				<a href="#">
					<i class="fa fa-users text-danger"></i>
					<span>{{ 'User.sidebar.adminmenu'|trans }}</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>
					<ul class="treeview-menu">
						<li {% if (admmenu_active =='users_list') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_user_list') }}">
								<i class="fa fa-th"></i>
								{{ 'action.list'|trans }}
							</a>
						</li>
						<li {% if (admmenu_active =='users_add') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_user_addGet') }}">
								<i class="fa fa-plus"></i>
								{{ 'action.add'|trans }}
							</a>
						</li>
					</ul>
				</a>
			</li>
			{% endif %}
			<li {% if (admmenu_active == 'trainees' or admmenu_active == 'trainees_list' or admmenu_active == 'trainees_add' or admmenu_active == 'trainees_edit' or admmenu_active == 'trainees_import') %} class="active" {% endif %}>
				<a href="#">
					<i class="fa fa-user-circle"></i>
					<span>{{ 'Trainee.sidebar.adminmenu'|trans }}</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>
					<ul class="treeview-menu">
						<li {% if (admmenu_active =='trainees_list') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_trainee_list') }}">
								<i class="fa fa-th"></i>
								{{ 'action.list'|trans }}
							</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li {% if (admmenu_active =='trainees_add') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_trainee_addGet') }}">
								<i class="fa fa-plus"></i>
								{{ 'action.add'|trans }}
							</a>
						</li>
						{% endif %}
					</ul>
				</a>
			</li>
			<li {% if (admmenu_active == 'docs' or admmenu_active == 'documents_list' or admmenu_active == 'documents_add' or admmenu_active == 'documents_edit') %} class="active" {% endif %}>
				<a href="#">
					<i class="fa fa-file"></i>
					<span>{{ 'Document.sidebar.adminmenu'|trans }}</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>
					<ul class="treeview-menu">
						<li {% if (admmenu_active =='documents_list') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_document_list') }}">
								<i class="fa fa-th"></i>
								{{ 'action.list'|trans }}
							</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li {% if (admmenu_active =='documents_add') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_document_addGet') }}">
								<i class="fa fa-plus"></i>
								{{ 'action.add'|trans }}
							</a>
						</li>
						{% endif %}
					</ul>
				</a>
			</li>
			<li {% if (admmenu_active == 'programs' or admmenu_active == 'programs_list' or admmenu_active == 'programs_add' or admmenu_active == 'programs_edit') %} class="active" {% endif %}>
				<a href="#">
					<i class="fa fa-file"></i>
					<span>{{ 'Program.sidebar.adminmenu'|trans }}</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>
					<ul class="treeview-menu">
						<li {% if (admmenu_active =='programs_list') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_program_list') }}">
								<i class="fa fa-th"></i>
								{{ 'action.list'|trans }}
							</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li {% if (admmenu_active =='programs_add') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_program_addGet') }}">
								<i class="fa fa-plus"></i>
								{{ 'action.add'|trans }}
							</a>
						</li>
						{% endif %}
					</ul>
				</a>
			</li>
            <li {% if (admmenu_active == 'levels' or admmenu_active == 'levels_list' or admmenu_active == 'levels_add' or admmenu_active == 'levels_edit') %} class="active" {% endif %}>
                <a href="#">
                    <i class="fa fa-file"></i>
                    <span>{{ 'Level.sidebar.adminmenu'|trans }}</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu">
                        <li {% if (admmenu_active =='levels_list') %} class="active" {% endif %}>
                            <a href="{{ path('ilcfrance_passportstagiaire_front_level_list') }}">
                                <i class="fa fa-th"></i>
                                {{ 'action.list'|trans }}
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li {% if (admmenu_active =='levels_add') %} class="active" {% endif %}>
                            <a href="{{ path('ilcfrance_passportstagiaire_front_level_addGet') }}">
                                <i class="fa fa-plus"></i>
                                {{ 'action.add'|trans }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </a>
            </li>
			<li {% if (admmenu_active == 'homeworks' or admmenu_active == 'homeworks_list' or admmenu_active == 'homeworks_add' or admmenu_active == 'homeworks_edit') %} class="active" {% endif %}>
				<a href="#">
					<i class="fa fa-file"></i>
					<span>{{ 'Homework.sidebar.adminmenu'|trans }}</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>
					<ul class="treeview-menu">
						<li {% if (admmenu_active =='homeworks_list') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_homework_list') }}">
								<i class="fa fa-th"></i>
								{{ 'action.list'|trans }}
							</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li {% if (admmenu_active =='homeworks_add') %} class="active" {% endif %}>
							<a href="{{ path('ilcfrance_passportstagiaire_front_homework_addGet') }}">
								<i class="fa fa-plus"></i>
								{{ 'action.add'|trans }}
							</a>
						</li>
						{% endif %}
					</ul>
				</a>
			</li>
			<li>
				<a href="/MASTER_CORRECTION_SHEET.xls">
					<i class="fa fa-file"></i>
					<span>MASTER CORRECTION SHEET</span>
				</a>
			</li>
		</ul>
	</section>
</aside>