{% extends 'IlcfrancePassportstagiaireResBundle::admin.tpl.html.twig' %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_homepage') }}">{{ faIco('dashboard') }} {{'breadcrumb.admin.dasboard'|trans|raw}}</a></li>
	<li><a href="{{ path('ilcfrance_passportstagiaire_front_trainee_list') }}">{{faIco('user-circle')}} {{'Trainee.breadcrumb.admin.list'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_passportstagiaire_front_trainee_addGet') }}">{{faIco('plus')}} {{'Trainee.breadcrumb.admin.add'|trans()|raw}}</a></li>
</ol>
{% endblock breadcrumb %}
{% block main %}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_passportstagiaire_front_trainee_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'action.list'|trans }}</a>
			<a href="{{ path('ilcfrance_passportstagiaire_front_trainee_importGet') }}" class="btn btn-primary">{{ faIco('file-excel-o') }} {{ 'action.btnExcel'|trans }}</a>
		</div>
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">{{ 'Trainee.tlabel.admin.add'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(TraineeAddForm, {'method':'POST', 'action': path('ilcfrance_passportstagiaire_front_trainee_addPost'), 'style': 'horizontal'})}}
				{{form_row(TraineeAddForm.lastName, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.firstName, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.address, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.town, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.email, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.phone, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.mobile, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.job, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.level, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.courses, {'label_col': 3, 'widget_col': 8})}}
				{{form_row(TraineeAddForm.needs, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
				{{form_row(TraineeAddForm.origine, {'label_col': 3, 'widget_col': 8})}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnAdd'|trans|raw}}</button></div></div>
				{{form_end(TraineeAddForm)}}
			</div>
		</div>
	</div>
</div>
{% endblock main %}
{% block htmlBodyScripts %}
{{ parent() }}
<script src="{{ preload(asset('/res/js/tinymce.min.js')) }}"></script>
<script type="text/javascript">
$(function() {
	tinymce.init({
		selector: 'textarea.wysiwyg',
		theme: "modern",
		content_css : '{{ preload(asset('/res/css/app.min.css')) }}',
		plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
		toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview ",
		init_instance_callback: function (editor) {
			editor.on('change', function (e) {
				editor.save();
			});
		},
		branding: false
	});
});
</script>
{% endblock htmlBodyScripts %}
